@import './theme.css';


 @font-face {
    font-family: Gilroy;
    src: url("../gilroy-light.otf") format("opentype");
}
body,
html {
    margin: 0;
    padding: 0;
    border-radius: 12px;
    font-family: Gilroy;
}


.container-boxes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/********HEADER-BOX*************/

.header-box {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.header-title span {
    font-weight: bold;
    font-size: 28px;
    line-height: 29px;
}


.svg-container {
    position: absolute;
    top: 0;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 18px;
    line-height: 13px;
    width: 50%;
    align-items: center;
}

.botton-blue {
    display: flex;
    align-items: center;
    border: 2px solid #1943EF;
    box-sizing: border-box;
    border-radius: 33.9597px;
    cursor: pointer;
}


.button-inside {
    padding: 1rem 2.5rem 1rem 2.5rem;
}

/********big-phone-box******************/

.big-phone-box {
    width: 80%;
    background-color: aquamarine;
    height: 600px;
}


/************relationz-box*****************/

.relationz-box {
    width: 80%;
    background-color: darkorange;
    height: 600px;
}

/*************reminder-box*****************/

.reminder-box {
    width: 80%;
    background-color: pink;
    height: 400px;
}

/**************remember-every-box*************/

.remember-every-box {
    width: 80%;
    background-color: seagreen;
    height: 400px;
}

/*******************stay-connect****************/

.stay-connect {
    width: 80%;
    background-color: sienna;
    height: 400px;
}

/*********************review-users************/

.review-users {
    width: 80%;
    background-color: slategrey;
    height: 500px;
}

/*******************free-trials****************/

.free-trials {
    width: 80%;
    background-color: tomato;
    height: 150px;
}


/****************footer-box*******************/

.footer-box {
    width: 80%;
    background-color: khaki;
    height: 450px;
}

