@import './theme.css';


 @font-face {
    font-family: Gilroy;
    src: url("../gilroy-light.otf") format("opentype");
}
body,
html {
    margin: 0;
    padding: 0;
    border-radius: 12px;
    font-family: Gilroy;
    box-sizing: border-box;
}


.container-boxes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/********HEADER-BOX*************/

.header-box {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.header-title span {
    font-weight: bold;
    font-size: 28px;
    line-height: 29px;
}


.svg-container {
    position: absolute;
    top: 0;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 18px;
    line-height: 13px;
    width: 50%;
    align-items: center;
}

.botton-blue {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #1943EF;
    box-sizing: border-box;
    border-radius: 33.9597px;
    cursor: pointer;
}


.button-inside {
    padding: 1rem 2.5rem 1rem 2.5rem;
}

@media screen and (max-width: 1024px) {
    .header-box {
        width: 90%;
    }

    .svg-container {
        left: 15rem;
    }

    .header-menu {
        width: 65%;
    }

    .header-menu span {
        padding-left: 2rem;
    }

    .botton-blue {
        margin-left: 2rem;
    }

}

@media screen and (max-width: 768px) {
    .header-box {
        width: 95%;
    }
    .svg-container {
        left: 23%;
    }

    .header-menu {
        font-size: 15px;
    }

    .button-inside {
        padding: 0.5rem 2rem 0.5rem 2rem;
    }

    .padding-modified {
        padding-left: 1rem;
    }

    #button-blue-pro {
        padding: 0.5rem 1.2rem 0.5rem 1.2rem;
        font-size: 12px;
    }

}

@media screen and (max-width: 450px) {
    .header-box {
        flex-direction: column;
        height: 100px;
        align-items: flex-start;
    }

    .svg-container {
        left: 55%;
    }

    .header-title span {
        padding-left: 1rem;
        font-size: 34px;
    }

    .header-menu span {
        padding-left: 1rem;
    }

    #button-blue-pro {
        font-size: 14px;
        padding: 10px;
        width: 80px;
    }

    .botton-blue {
        margin-left: 1rem;
    }

    .header-menu {
        font-size: 16px;
    }
}


@media screen and (max-width: 375px) {
    .header-box {
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;        
        width: 100%;
        justify-content: space-around;
        font-size: 24px;
        margin-top: 1rem;
    }

    .header-title span {
        font-size: 48px;
    }

    .svg-container {
        left: 0;
        top: 5rem;
        width: 100px;
        height: 180px;
    }

    .svg-container circle {
        cx:0 ;
        cy:100 ;
        r: 60;
        stroke-width: 25;
    }

    #button-blue-pro {
        font-size: 20px;
        padding: 15px;
        width: 120px;
    }
}


/********big-phone-box******************/

.big-phone-box {
    width: 80%;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.relationship {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.relation-title {
    display: flex;
    justify-content: flex-start;
}


.point-svg {
    width: 200px;
    height: 200px;
    z-index: 0;
    position: absolute;
}

.point-svg-inside {
    display: flex;
    justify-content: flex-start; 
    align-self: flex-start;
    margin-top: -1rem;
    margin-left: -1rem;
}


.relation-title span {
    font-weight: bold;
    font-size: 50px;
    line-height: 49px;
}

.body-relation span {
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
}


.relation-register {
    display: flex;
}

.input-mail {
    border-radius: 33px 33px 33px 33px;
    padding: 1.1rem 100% 1.1rem 1rem;
    border: 0;
}

.label-form {
    width: 65%;
}

.position-button {
    position: absolute;
    left: 40%;
}

.ticks-menu {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.spunta-plus-text span {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
}

.padding-top-r {
    padding-top: 2rem;
}

.left-svg {
    left: 0;
    position: absolute;
}


/******************************/

.big-phone-img {
    display: flex;
    flex-direction: column;
}

.img-center {
    z-index: 1;
    position: relative;
    width: 400px;
    height: 700px;
    background-image: url('../images/phone.svg');
    background-size: cover;
}

.svg-container-bgphone {
    position: relative;
}
.svg-pos-first {    
    top: 8rem;
}

.vector-right {
    display: flex;
    justify-content: flex-end;
}

.position-svg {
    position: relative;
    bottom: 7.5rem;
}

@media screen and (max-width: 1440px) {
    
    .input-mail {
        padding: 1.1rem 60% 1.1rem 1rem;
    }

    .position-button {
        left: 36%;
    }

    .ticks-menu {
        width: 90%;
    }
}

@media screen and (max-width: 1024px) {
    .big-phone-box {
        width: 90%;
    }

    .position-button {
        left: 33%;
    }

    .ticks-menu {
        width: 100%;
    }
    
}
    
@media screen and (max-width: 768px) {
    .relation-title span { 
        font-size: 38px;
    }

    .body-relation span {
        font-size: 17px;
    }

    .input-mail {
        padding: 1.1rem 30% 1.1rem 1rem;
    }

    .position-button {
        left: 25%;
    }

    #button-bigphone {
        padding: 1rem 1rem 1rem 1rem;
        font-size: 12px;
    }

    .img-center {
        width: 330px;
        height: 600px;
    }
}

@media screen and (max-width: 450px) {
    .big-phone-box {
        flex-direction: column;
        width: 95%;
        height: 1300px;
    }

    .relationship {
        width: 90%;
        padding-top: 2.5rem;
    }

    .relation-title span {
        font-size: 44px;
    }

    .point-svg-inside img {
        width: 60px;
        height: 60px;
    }

    .body-relation span {
        font-size: 19px;
    }

    .input-mail {
        padding: 1.1rem 60% 1.1rem 1rem;
    }

    #button-bigphone {
        font-size: 16px;
    }

    .position-button {
        left: 55%;
    }

    .big-phone-img {
        margin-top: -6rem;
    }

    .left-svg {
        top: 70rem;
    }
}

@media screen and (max-width: 375px) {
    .relation-title span {
        font-size: 40px ;
    }

    .body-relation span {
        font-size: 17px;
    }

    .input-mail {
        padding: 1.1rem 50% 1.1rem 1rem;
    }

    .padding-top-r {
        padding-top: 2.5rem;
    }

    .left-svg {
        top: 300vh;
    }

    .img-center {
        width: 280px;
        height: 500px;
    }
}

@media screen and (max-width: 320px) {
    .input-mail {
        padding: 1.1rem 30% 1.1rem 1rem;
    }

    .position-button {
        left: 45%;
    }
}
    
/************relationz-box*****************/

.relationz-box {
    margin-top: 5rem;
    width: 80%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.relationz-background {
    left: 0;
    background: #F5F5FB;
    border: 0.550594px solid #EAEDF3;
    box-sizing: border-box;
    box-shadow: 0px 13.8611px 55.4444px #F2F5FA;
    border-radius: 41px;
}

.section-relactionz {
    z-index: 99;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.title-section {
    display: flex;
    align-items: center;    
    margin-right: 8rem;    
    padding-bottom: 1rem;
    border-bottom: 3px solid transparent;
    border-bottom-color: #1943EF;
}
/* 
.title-section:hover {
    margin-bottom: 1rem;
    border-radius: 3px;
    
}  */

.background-icon {
    width: 35px;
    height: 35px;
    background-color: rgba(25, 67, 239, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.title-text {
    margin-left: 1rem;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
}

@media screen and (max-width: 425px) {
    .section-relactionz {
        flex-direction: column;
    }
}

.box-menu {
    z-index: 999;
    display: flex;
    justify-content: space-between;
}


.main-menu {
    border: 0.693056px solid #EAEDF3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20%;/* 
    height: 700px; */
    border-radius: 40px 0 0 40px;
}

.main-title {
    border: 0.693056px solid #EAEDF3;
    box-sizing: border-box;    
    margin: 2rem 3rem 1rem 1rem;
}

.mainlist {
    margin-bottom: 1rem;
}

#overview-class {
    opacity: 1;
}

.opa-class {
    opacity: 0.4;
}

.title-main {
    color: #3A3A47;
    font-weight: bold;
    font-size: 32px;
    line-height: 25px;
}

.name-icon {
    font-weight: 600;
    font-size: 16px;
    line-height: 11px;
    padding-left: 2rem;
}

.icon-name-hover {
    display: flex;
    align-items: center;
    padding: 1rem 3rem 1rem 1rem;
    opacity: 0.4;
}

.logout-list {
    z-index: 50;
    opacity: 0.4;
    display: flex;
    align-items: center;
    padding: 2rem 4rem 4rem 1rem;
}

.background-footer {
    position: absolute;
    width: 130px;
    height: 50px;
    z-index: 33;
    background: #222222;
    opacity: 0.06;
    border-radius: 5.54444px;
}

.icon-left-p {
    padding-left: 2rem;
}

.separator {
    margin-top: 20px;
    border: 0.693056px solid #EAEDF3;
}


/********************************************/

.tasks-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.find-new-task {
    border: 0.693056px solid #EAEDF3;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-box {
    display: flex;
    align-items: center;
    opacity: 0.8;
    width: 30%;
    margin: 2rem 3rem 2rem 2rem;
}

.research-box form input {
    color: #222222;
}

.input-research {
    border-radius: 33px 33px 33px 33px;
    padding: 0.5rem 30% 0.5rem 1rem;
    border: 0;
}


.container-button-time {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.button-new-task {
    display: flex;
    align-items: center;
}

.time {
    display: flex;
    align-items: center;
}

#button-time {
    padding: 0.6rem 2.5rem 0.6rem 2.5rem;
}

.icon-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 3rem;
}

.icon-dot {
    margin-left: 10px;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1943EF;
}

.time-oclock {
    padding-left: 4rem;
    font-weight: bold;
    font-size: 16px;
    line-height: 12px;
    padding-right: 2rem;
}


/********************************/
.presentation-username {
    background-image: url('../images/Group.png');
    background-size: cover; 
    width: 95%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    height: 250px;
    border-radius: 11px;
    margin-bottom: 3rem;
}

.presentation-left {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;

}

.pre-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 23px;
    padding-top: 3rem;
    padding-left: 4rem;
}

.pre-body {
    padding-left: 4rem;
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    padding-top: 1rem;
}

#button-presentation {
    background: rgba(255, 255, 255, 0.25);
}

.presentation-right {
    display: flex;
    align-items: flex-end;
    padding: 2rem 4.5rem;
}

/*********************************/


.upcoming-people-container {
    width: 87%;
    display: flex;
    align-self: center;
    height: 350px;
    justify-content: space-between;
    position: relative;
    z-index: 1000;
}

.people-container-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 45%;
    background: #FFFFFF;
    box-shadow: 0px 5.54444px 27.7222px rgba(0, 0, 0, 0.05);
    border-radius: 11.0889px;
    position: relative;
    z-index: 999;
}

.title-left {
    font-weight: 600;
    font-size: 16px;
    line-height: 13px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 90%;
    position: relative;
    z-index: 998;
}


.columns-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 998;
}

.columns-dimension {
    display: flex;
    flex-direction: column; 
    position: relative;
    z-index: 997;   
}

.person {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding: 1.5rem;
    position: relative;
    z-index: 996; 
}

.title-person {
    font-weight: bold;
    font-size: 16px;
    line-height: 12px;
}

.text-right {
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: 500;
    font-size: 14px;
    color: rgba(34, 34, 34, 0.6);
}

.icon-plus-person {
    display: flex;
    align-items: center;
}


.rectangle-button {
    background: rgba(38, 194, 150, 0.1);
    border-radius: 3px;
}

#color-send {
    color: rgba(34, 34, 34, 0.4);
}
.send {
    color: #26C296;
    font-weight: 500;
    font-size: 16px;
    line-height: 11px;
}

.img-green {
    position: absolute;
    margin: 15rem 5rem 0;
    z-index: 0;
}

.img-absolute {
    position: absolute;
}

@media screen and (max-width: 1440px) {
    .time-oclock {
        padding-left: 0;
    }

    .pre-title {
        padding-top: 2.5rem;
        padding-left: 2rem;
    }

    .presentation-right {
        padding: 0 3rem 0 0;
        height: 70%;
    }

    .pre-body {
        font-size: 16px;
        padding-left: 2rem;
    }

    .img-green {
        margin: 15rem 3rem 0;
    }
}


@media screen and (max-width: 1024px) {
    .container-button-time {
        width: 60%;
    }

    .icon-time {
        padding-right: 1.5rem;
    }

    .time-oclock {
        padding-right: 0.5rem;
    }
    .presentation-username {
        width: 103%;
        align-self: flex-end;
    }

    .presentation-right {
        padding: 0 0.5rem 0 0;
    }

    .presentation-left {
        padding: 0.5rem;
    }

    .pre-body {
        font-size: 13.5px;
        padding-left: 3rem;
    }

    .pre-title {
        padding-top: 4rem;
        padding-left: 3rem;
    }
    
    .upcoming-people-container {
        width: 97%;
    }

    .people-container-left {
        width: 49%;
    }

    .img-green {
        margin: 15rem 1rem 0;
    }
}


/*************reminder-box*****************/

.reminder-box {
    width: 80%;
    background-color: pink;
    height: 400px;
}

/**************remember-every-box*************/

.remember-every-box {
    width: 80%;
    background-color: seagreen;
    height: 400px;
}

/*******************stay-connect****************/

.stay-connect {
    width: 80%;
    background-color: sienna;
    height: 400px;
}

/*********************review-users************/

.review-users {
    width: 80%;
    background-color: slategrey;
    height: 500px;
}

/*******************free-trials****************/

.free-trials {
    width: 80%;
    background-color: tomato;
    height: 150px;
}


/****************footer-box*******************/

.footer-box {
    width: 80%;
    background-color: khaki;
    height: 450px;
}

