@import './theme.css';


 @font-face {
    font-family: Gilroy;
    src: url("../gilroy-light.otf") format("opentype");
}
body,
html {
    margin: 0;
    padding: 0;
    border-radius: 12px;
    font-family: Gilroy;
    box-sizing: border-box;
}


.container-boxes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/********HEADER-BOX*************/

.header-box {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.header-title span {
    font-weight: bold;
    font-size: 28px;
    line-height: 29px;
}


.svg-container {
    position: absolute;
    top: 0;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 18px;
    line-height: 13px;
    width: 50%;
    align-items: center;
}

.botton-blue {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #1943EF;
    box-sizing: border-box;
    border-radius: 33.9597px;
    cursor: pointer;
}


.button-inside {
    padding: 1rem 2.5rem 1rem 2.5rem;
}

@media screen and (max-width: 1024px) {
    .header-box {
        width: 90%;
    }

    .svg-container {
        left: 15rem;
    }

    .header-menu {
        width: 65%;
    }

    .header-menu span {
        padding-left: 2rem;
    }

    .botton-blue {
        margin-left: 2rem;
    }

}

@media screen and (max-width: 768px) {
    .header-box {
        width: 95%;
    }
    .svg-container {
        left: 23%;
    }

    .header-menu {
        font-size: 15px;
    }

    .button-inside {
        padding: 0.5rem 2rem 0.5rem 2rem;
    }

    .padding-modified {
        padding-left: 1rem;
    }

    #button-blue-pro {
        padding: 0.5rem 1.2rem 0.5rem 1.2rem;
        font-size: 12px;
    }

}

@media screen and (max-width: 540px) {
    .header-box {
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;        
        width: 100%;
        justify-content: space-around;
        font-size: 24px;
        margin-top: 1rem;
    }

    .header-title span {
        font-size: 48px;
    }

    .svg-container {
        left: 0;
        top: 5rem;
        width: 100px;
        height: 180px;
    }

    .svg-container circle {
        cx:0 ;
        cy:100 ;
        r: 60;
        stroke-width: 25;
    }

    #button-blue-pro {
        font-size: 20px;
        padding: 15px;
        width: 120px;
    }
}



/********big-phone-box******************/

.big-phone-box {
    width: 80%;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.relationship {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.relation-title {
    display: flex;
    justify-content: flex-start;
}


.point-svg {
    width: 200px;
    height: 200px;
    z-index: 0;
    position: absolute;
}

.point-svg-inside {
    display: flex;
    justify-content: flex-start; 
    align-self: flex-start;
    margin-top: -1rem;
    margin-left: -1rem;
}


.relation-title span {
    font-weight: bold;
    font-size: 50px;
    line-height: 49px;
}

.body-relation span {
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
}


.relation-register {
    display: flex;
}

.input-mail {
    border-radius: 33px 33px 33px 33px;
    padding: 1.1rem 100% 1.1rem 1rem;
    border: 0;
}

.label-form {
    width: 65%;
}

.position-button {
    position: absolute;
    left: 40%;
}

.ticks-menu {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.spunta-plus-text span {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
}

.padding-top-r {
    padding-top: 2rem;
}

.left-svg {
    left: 0;
    position: absolute;
}


/******************************/

.big-phone-img {
    display: flex;
    flex-direction: column;
}

.img-center {
    z-index: 1;
    position: relative;
    width: 400px;
    height: 700px;
    background-image: url('../images/phone.svg');
    background-size: cover;
}

.svg-container-bgphone {
    position: relative;
}
.svg-pos-first {    
    top: 8rem;
}

.vector-right {
    display: flex;
    justify-content: flex-end;
}

.position-svg {
    position: relative;
    bottom: 7.5rem;
}

@media screen and (max-width: 1440px) {
    
    .input-mail {
        padding: 1.1rem 60% 1.1rem 1rem;
    }

    .position-button {
        left: 36%;
    }

    .ticks-menu {
        width: 90%;
    }
}

@media screen and (max-width: 1024px) {
    .big-phone-box {
        width: 90%;
    }

    .position-button {
        left: 33%;
    }

    .ticks-menu {
        width: 100%;
    }
    
}
    
@media screen and (max-width: 768px) {
    .big-phone-box {
        width: 95%;
    }
    .relation-title span { 
        font-size: 38px;
    }

    .body-relation span {
        font-size: 17px;
    }

    .input-mail {
        padding: 1.1rem 30% 1.1rem 1rem;
    }

    .position-button {
        left: 25%;
    }

    #button-bigphone {
        padding: 1rem 1rem 1rem 1rem;
        font-size: 12px;
    }

    .img-center {
        width: 330px;
        height: 600px;
    }
}

@media screen and (max-width: 540px) {
    .big-phone-box {
        flex-direction: column;
        height: 1300px;
    }

    .relationship {
        width: 90%;
        padding-top: 2.5rem;
    }

    .relation-title span {
        font-size: 44px;
    }

    .point-svg-inside img {
        width: 60px;
        height: 60px;
    }

    .body-relation span {
        font-size: 19px;
    }

    .input-mail {
        padding: 1.1rem 60% 1.1rem 1rem;
    }

    #button-bigphone {
        font-size: 16px;
    }

    .position-button {
        left: 55%;
    }

    .big-phone-img {
        margin-top: -6rem;
    }

    .left-svg {
        top: 70rem;
    }

    .spunta-plus-text {
        padding-right: 0.5rem;
    }
}

@media screen and (max-width: 375px) {
    .relation-title span {
        font-size: 40px ;
    }

    .body-relation span {
        font-size: 17px;
    }

    .input-mail {
        padding: 1.1rem 50% 1.1rem 1rem;
    }

    .padding-top-r {
        padding-top: 2.5rem;
    }

    .left-svg {
        top: 300vh;
    }

    .img-center {
        width: 280px;
        height: 500px;
    }
}

@media screen and (max-width: 320px) {
    .input-mail {
        padding: 1.1rem 30% 1.1rem 1rem;
    }

    .position-button {
        left: 45%;
    }
}
    
/************relationz-box*****************/

.relationz-box {
    margin-top: 5rem;
    width: 80%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.relationz-background {
    left: 0;
    background: #F5F5FB;
    border: 0.550594px solid #EAEDF3;
    box-sizing: border-box;
    box-shadow: 0px 13.8611px 55.4444px #F2F5FA;
    border-radius: 41px;
}

.section-relactionz {
    z-index: 99;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.title-section {
    display: flex;
    align-items: center;    
    margin-right: 8rem;    
    padding-bottom: 1rem;
    border-bottom: 3px solid transparent;
    border-bottom-color: #1943EF;
}
/* 
.title-section:hover {
    margin-bottom: 1rem;
    border-radius: 3px;
    
}  */

.background-icon {
    width: 35px;
    height: 35px;
    background-color: rgba(25, 67, 239, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.title-text {
    margin-left: 1rem;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
}

@media screen and (max-width: 450px) {
    .section-relactionz {
        flex-direction: column;
    }
}

.box-menu {
    z-index: 999;
    display: flex;
    justify-content: space-between;
}


.main-menu {
    border: 0.693056px solid #EAEDF3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20%;/* 
    height: 700px; */
    border-radius: 40px 0 0 40px;
}

.main-title {
    border-bottom: 0.693056px solid #EAEDF3;
    box-sizing: border-box;    
    margin: 2rem 3rem 1rem 1rem;
}

.mainlist {
    margin-bottom: 1rem;
}

#overview-class {
    opacity: 1;
}

.opa-class {
    opacity: 0.4;
}

.title-main {
    color: #3A3A47;
    font-weight: bold;
    font-size: 32px;
    line-height: 25px;
}

.name-icon {
    font-weight: 600;
    font-size: 16px;
    line-height: 11px;
    padding-left: 2rem;
    padding-top: 0.5rem;
}

.icon-name-hover {
    display: flex;
    align-items: center;
    padding: 1rem 3rem 1rem 1rem;
    opacity: 0.4;
}

.logout-list {
    z-index: 50;
    opacity: 0.4;
    display: flex;
    align-items: center;
    padding: 2rem 4rem 4rem 1rem;
}

.background-footer {
    position: absolute;
    width: 130px;
    height: 50px;
    z-index: 33;
    background: #222222;
    opacity: 0.06;
    border-radius: 5.54444px;
}

.icon-left-p {
    padding-left: 2rem;
}

.separator {
    margin-top: 20px;
    border: 0.693056px solid #EAEDF3;
}


/********************************************/

.tasks-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.find-new-task {
    border: 0.693056px solid #EAEDF3;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-box {
    display: flex;
    align-items: center;
    opacity: 0.8;
    width: 30%;
    margin: 2rem 3rem 2rem 2rem;
}

.research-box form input {
    color: #222222;
}

.input-research {
    border-radius: 33px 33px 33px 33px;
    padding: 0.5rem 30% 0.5rem 1rem;
    border: 0;
}


.container-button-time {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.button-new-task {
    display: flex;
    align-items: center;
}

.time {
    display: flex;
    align-items: center;
}

#button-time {
    padding: 0.6rem 2.5rem 0.6rem 2.5rem;
}

.icon-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 3rem;
}

.icon-dot {
    margin-left: 10px;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1943EF;
}

.time-oclock {
    padding-left: 4rem;
    font-weight: bold;
    font-size: 16px;
    line-height: 12px;
    padding-right: 2rem;
}


/********************************/
.presentation-username {
    background-image: url('../images/Group.png');
    background-size: cover; 
    width: 95%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    height: 250px;
    border-radius: 11px;
    margin-bottom: 3rem;
}

.presentation-left {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;

}

.pre-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 23px;
    padding-top: 3rem;
    padding-left: 4rem;
}

.pre-body {
    padding-left: 4rem;
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    padding-top: 1rem;
}

#button-presentation {
    background: rgba(255, 255, 255, 0.25);
}

.presentation-right {
    display: flex;
    align-items: flex-end;
    padding: 2rem 4.5rem;
}

/*********************************/


.upcoming-people-container {
    width: 87%;
    display: flex;
    align-self: center;
    height: 350px;
    justify-content: space-between;
    position: relative;
    z-index: 1000;
}

.people-container-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 45%;
    background: #FFFFFF;
    box-shadow: 0px 5.54444px 27.7222px rgba(0, 0, 0, 0.05);
    border-radius: 11.0889px;
    position: relative;
    z-index: 999;
}

.title-left {
    font-weight: 600;
    font-size: 16px;
    line-height: 13px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 90%;
    position: relative;
    z-index: 998;
}


.columns-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 998;
}

.columns-dimension {
    display: flex;
    flex-direction: column; 
    position: relative;
    z-index: 997;   
}

.person {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding: 1.5rem;
    position: relative;
    z-index: 996; 
}

.title-person {
    font-weight: bold;
    font-size: 16px;
    line-height: 12px;
}

.text-right {
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: 500;
    font-size: 14px;
    color: rgba(34, 34, 34, 0.6);
}

.icon-plus-person {
    display: flex;
    align-items: center;
}


.rectangle-button {
    background: rgba(38, 194, 150, 0.1);
    border-radius: 3px;
}

#color-send {
    color: rgba(34, 34, 34, 0.4);
}
.send {
    color: #26C296;
    font-weight: 500;
    font-size: 16px;
    line-height: 11px;
}

.img-green {
    position: absolute;
    margin: 15rem 5rem 0;
    z-index: 0;
}

.img-absolute {
    position: absolute;
}

@media screen and (max-width: 1440px) {
    .section-relactionz {
        margin-left: 5rem;
    }
    .time-oclock {
        padding-left: 0;
    }

    .pre-title {
        padding-top: 2.5rem;
        padding-left: 2rem;
    }

    .presentation-right {
        padding: 0 3rem 0 0;
        height: 70%;
    }

    .pre-body {
        font-size: 16px;
        padding-left: 2rem;
    }

    .img-green {
        margin: 15rem 3rem 0;
    }
}


@media screen and (max-width: 1024px) {

    .title-section {
        margin-right: 5rem;
    }

    .relationz-box {
        width: 90%;
    }
    
    .icon-name-hover {
        padding: 1rem;
    }
    .container-button-time {
        width: 60%;
    }

    .icon-time {
        padding-right: 1.5rem;
    }

    .time-oclock {
        padding-right: 0.5rem;
    }
    .presentation-username {
        width: 103%;
        align-self: flex-end;
    }

    .presentation-right {
        padding: 0 0.5rem 0 0;
    }

    .presentation-left {
        padding: 0.5rem;
    }

    .pre-body {
        font-size: 14px;
        padding-left: 3rem;
    }

    .pre-title {
        padding-top: 4rem;
        padding-left: 3rem;
    }
    
    .upcoming-people-container {
        width: 97%;
    }

    .people-container-left {
        width: 49%;
    }
    

    .title-person {
        font-size: 15px;
    }

    .person {
        padding: 0.5rem;
    }

    .img-green {
        margin: 15rem 1rem 0;
    }

    .mainlist {
        margin-left: 1rem;
    }

    
}

@media screen and (max-width: 768px) {

    .relationz-box {
        height: 1200px;
    }


    .main-title {
        border-bottom: 0.693056px solid #EAEDF3;
    }
    .box-menu {
        flex-direction: column;
    }

    .main-menu {
        width: 100%;
        height: 300px;
        border-radius: 0;
    }

    .main-list {
        display: flex;
        border-bottom: 0.693056px solid #EAEDF3;
    }

    .icon-name-hover {
        display: flex;
        flex-direction: column;
        padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    }

    .name-icon {
        writing-mode: vertical-rl;
        transform: rotate(-20deg);
        padding-top: 0.3rem;
    }

    .mainlist {
        display: none;
    }

    .separator {
        display: none;
    }

    #name-id {
        transform: rotate(-90deg);
        margin-right: -1rem;
    }

    .logout-list {
        align-items: unset;
    }

    .presentation-username {
        margin-bottom: 0;
        width: 105.55%;
    }

    .upcoming-people-container {
        width: 100%;
    }

    .img-green {
        margin: 15rem 2rem 0;
    }

    .img-absolute {
        width: 85px;
        height: 85px;
    }
}

@media screen and (max-width: 540px) {

    .section-relactionz {
        margin-top: 0;
        margin-bottom: 2rem;
        flex-direction: column;
        margin-left: 7rem;
    }

    .title-section {
        padding-top: 1rem;
        margin-right: 9rem;
    }

    .relationz-box {
        height: 2350px;
        justify-content: unset;
    }

    .main-menu {
        height: auto;
    }

    .main-list {
        flex-direction: column;
    }

    .title-main {
        font-size: 40px;
    }

    .icon-name-hover {
        flex-direction: row;
    }

    .name-icon {
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
        font-size: 20px;
    }

    #name-id {
        transform: rotate(0deg);
    }

    .logout-list {
        align-items: center;
    }

    .icon-list img {
        width: 40px;
        height: 40px;
    }

    .find-new-task {
        height: 200px;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .input-box {
        width: 85%;
    }

    .input-research {
        padding: 0.5rem 25% 0.5rem 1rem;
    }

    .container-button-time {
        width: 100%;
    }

    .presentation-username {
        height: 500px;
        align-items: center;
        flex-direction: column;
        justify-content: unset;
        width: 120%;
        margin-bottom: -5rem;
    }

    .presentation-left {
        padding: 3rem 0 0 3rem;
    }

    .pre-body {
        font-size: 16px;
    }

    .presentation-right {
        height: 20%;
        padding-left: 4rem;
    }


    .upcoming-people-container {
        flex-direction: column;
        align-items: center;
    }

    .people-container-left {
        width: 100%;
        height: 300px;
        margin-top: 2rem;
    }

    .img-green {
        margin: 12rem 1rem 0;
    }

    .img-absolute {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 425px) {
    .title-section {
        margin-right: 5rem;
        
    }

    .section-relactionz {
        margin-left: 5rem;
    }

    .pre-body {
        padding-right: .5rem;
    }
}


@media screen and (max-width: 375px) {
    .title-section {
        margin-right: 3rem;
    }

    .section-relactionz {
        margin-left: 4rem;
    }

    #button-time {
        padding: 0.5rem 2rem 0.5rem 2rem;
    }
}


@media screen and (max-width: 320px) {
    .title-section {
        margin-right: 1rem;
    }

    .section-relactionz {
        margin-left: 2.5rem;
    }

    .container-button-time {
        flex-direction: column;
        height: 200px;
        align-items: center;
    }

    .time {
        padding-bottom: 1rem;
    }

    .pre-body {
        padding-right: 0.5rem;
    }

    .presentation-right {
        height: 10%;
    }

    .img-green {
        margin: 12rem 0.3rem 0;
    }
}


/*************reminder-box*****************/

.reminder-box {
    width: 80%;
    height: 850px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.reminder-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;

}

.reminder-right {
    height: 600px;
}

.reminder-description {
    position: relative;
    padding: 1rem 3rem 1rem 2rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 13.8611px 55.4444px #F2F5FA;
    border-radius: 16.6333px;
}

.remi-end {
    display: flex;
    flex-direction: column;
}

.icon-reminder {
    padding-right: 1rem;
}

.text-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.bold-big {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}

.green-text {
    color: #26C296;;
}

.vector-left-reminder {
    position: absolute;

}

.svg-container-reminder {
    position: relative;
    right: 5rem;
}

.bell-background {
    background: #E4F7F2;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-descript {
    margin-bottom: 2rem;
}

.title-reminder {
    margin-top: 4rem;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
}


.body-description {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    padding-top: 1.5rem;
}


.list-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
}

#pad-1 {
    padding-right: 5rem;
}

#pad-2 {
    padding-right: 2rem;
}

.check-little img{
    padding-right: 0.5rem;
}

@media screen and (max-width: 1024px) {
    .reminder-box {
        width: 90%;
    }

    .reminder-right {
        padding: 1.5rem;
    }

    .reminder-description {
        margin-top: 2rem;
        padding: 0.5rem 3rem 0.5rem 2rem;
    }

    .svg-container-reminder {
        height: 350px;
    }

    .svg-container-reminder circle {
        cy: 205;
        cx: 125;
    }

    .svg-container-reminder circle:first-child {
        r: 90;
    }

    .svg-container-reminder circle:last-child {
        r: 60;
    }

    .container-descript {
        margin-bottom: 2.5rem;
    }
}

@media screen and (max-width: 768px) {
    .reminder-box {
        flex-direction: column;
    }

    .reminder-description {
        padding: 1rem 3rem 1rem 2rem;
    }

    .svg-container-reminder circle {
        cy: 178;
        cx: 110;
    }

    .title-reminder {
        font-size: 33px;
    }

    .body-description {
        font-size: 22px;
    }
}

@media screen and (max-width: 540px) {
    .reminder-box {
        height: 1200px;
    }

    .svg-container-reminder circle {
        cy: 200;
        cx: 130;
    }

    .reminder-description {
        padding: 0.5rem 2rem 0.5rem 1rem;
    }

    .bell {
        margin-top: 4rem;
    }

    .reminder-left {
        margin-top: 8rem;
    }
}

@media screen and (max-width: 375px) {
    .title-reminder {
        font-size: 28px;
    }

    .body-description {
        font-size: 20px;
    }

    #pad-1 {
        padding-right: 4rem;
    }

    #pad-2 {
        padding-right: 1rem;
    }

    
    .svg-container-reminder circle {
        cy: 225;
        cx: 160;
    }

    .svg-container-reminder circle:first-child {
        r: 95;
    }

    .svg-container-reminder circle:last-child {
        r: 65;
    }

    
    .line-1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .check-little {
        padding-top: 0.5rem;
    }

}


@media screen and (max-width: 320px) {
    .reminder-box {
        height: 1400px;
    }

    .body-description {
        font-size: 18px;
    }

    .reminder-description {
        padding: 0.5rem;
    }
}


/**************remember-every-box*************/

.remember-every-box {
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -5rem;
}

.remember-left {
    margin-bottom: 10%;
}

#pad-3 {
    padding-right: 2rem;
}

#pad-4 {
    padding-right: 4.7rem;
}

.cv-container {
    display: flex;
    flex-direction: column;
}

.avatar-desc-cv {
    display: flex;
    align-items: center;
}

.title-desc-cv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
}

.title-cv {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}

.desc-cv {
    padding-top: 0.5rem;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: rgba(34, 34, 34, 0.8);
}

.more-info {
    padding-top: 1rem;
}

.title-info {
    padding: 1rem 2rem 1rem 1rem;
    color: rgba(34, 34, 34, 0.6);
}

.container-info {
    padding: 1rem 2rem 1rem 1rem;
}

.container-info span {    
    font-weight: 500;
    font-size: 15px;
    line-height: 13px;
    color: rgba(34, 34, 34, 0.8);
}

.container-info img {
    padding-right: 0.5rem;
}


.vector-center-reminder {
    position: absolute;
}

.svg-cv-reminder {
    position: relative;
}

#last-container {
    padding: 1rem 2rem 3rem 1rem;
}


@media screen and (max-width: 1024px) {
    .body-description {
        font-size: 17px;
    }

    .container-info span {
        line-height: 16px;
    }

    #last-container {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .remember-every-box {
        width: 90%;
        flex-direction: column;
        height: 900px;
    }

    .remember-left {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 540px) {
    .svg-cv-reminder {
        width: 350px;
    }

    .svg-cv-reminder circle {
        cx:250;
    }

    .remember-every-box {
        height: 1100px;
    }

    .body-description {
        font-size: 20px;
    }
}


@media screen and (max-width: 320px) {
    .svg-cv-reminder {
        width: 250px;
    }

    .svg-cv-reminder circle {
        cx:150;
    }  

    .title-reminder {
        margin-top: 2rem;
    }

    .remember-every-box {
        height: 1200px;
    }
}

@media screen and (max-width: 280px) {
    .remember-every-box {
        height: 1300px;
    }
    
}


/*******************stay-connect****************/

.stay-connect {
    width: 80%;
    height: 600px;
    display: flex;
    justify-content: center;
}


#stay-box {
    margin-top: 0;
    justify-content: space-between;
}

.content-anxiety {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20.7917px;
    width: 500px;
    height: auto;
    position: relative;
}

.anxiety-icon {
    padding-top: 1rem;
}

.anxiety-title {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
}

.title-big {
    font-weight: 600;
    font-size: 22px;
    line-height: 20px;
    margin-bottom: 0.5rem;
}

.title-short {
    font-weight: 500;
    font-size: 17px;
    line-height: 13px;
    color: rgba(34, 34, 34, 0.8);
}

.title-left {
    display: flex;
    flex-direction: column;
    padding-right: 9rem;
}


.anxiety-icon {
    display: flex;
    flex-direction: column;
}

.intro-icon-an span {
    font-weight: 500;
    font-size: 16px;
    line-height: 11px;
    color: rgba(34, 34, 34, 0.6);
}

.icon-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
}

.icon-container {
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
}

.icon-img {
    padding-right: 0.5rem;
}


.text-name {
    font-weight: 500;
    font-size: 15px;
    line-height: 13px;
    color: rgba(34, 34, 34, 0.8);
}


.anx-desc {
    padding: 2rem;
    font-weight: 500;
    font-size: 14px;
    line-height: 180%;
    color: rgba(115, 115, 141, 0.8);

}

.anx-footer {
    display: flex;
    justify-content: space-between;
}


.text-mail {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.check-container {
    display: flex;
    align-items: center;
    padding-right: 9rem;
    padding-bottom: 0.5rem;
}


/******CHECKBOX*******/

.checkbox-label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;
    padding-right: 1rem;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #26C296;
}


.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #FFFFFF;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid #26C296;
}



.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #26C296;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #26C296;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}



/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid #26C296;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);    
}

.checkbox-label input:checked ~ .checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    opacity:0;
    z-index: 999;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

/******Button-right******/

.button-right {
    padding-bottom: 0.5rem;
}

#button-anx {
    border: 0;
}

#button-anx span {
    padding: 0.5rem 3rem 0.5rem 3rem;
}

/*******svg *******/


.vector-center-anx {
    position: absolute;
    left: 18rem;
}

.svg-cv-anx {
    position: relative;
}

#pad-5 {
    padding-right: 6rem;
}

#pad-6 {
    padding-right: 6rem;
}

@media screen and (max-width: 1440px) {
    .stay-connect {
        width: 90%;
    }
}

@media screen and (max-width: 1024px) {
    .stay-connect {
        width: 100%;
    }

    .remember-every-box {
        width: 90%;
    }

    .check-container {
        padding-right: 6rem;
    }

    #pad-5 {
        padding-right: 4rem;
    }

    #pad-6 {
        padding-right: 3.7rem;
    }

    .vector-center-anx {
        left: 0.5rem;
    }
}


@media screen and (max-width: 768px) {

    .stay-connect {
        height: 1000px;
    }

    #stay-box {
        margin-top: 5rem;
    }
    
    .svg-cv-anx circle {
        cx: 160;
    }
}


@media screen and (max-width: 540px) {

    .content-anxiety {        
        width: auto;
    }

    .svg-cv-anx {
        width: 250px;
    }

    .svg-cv-anx circle {
        cx: 100;
    }


    .title-big {
        font-size: 25px;
    }

    .stay-connect {
        height: 1400px;
    }

    .title-left {
        padding-right: 2rem;
    }

    .icon-list {
        flex-direction: column;
    }

    .text-name {
        font-size: 22px;
    }

    .icon-list img {
        width: 50px;
        height: 50px;

    }

    .intro-icon-an {
        padding: 1rem;
    }

    .intro-icon-an span {
        font-size: 26px;
    }

    .icon-container {
        padding: 1rem;
    }

    .anx-desc {
        font-size: 18px;
        padding: 0.7rem;
        width: 375px;
    }

    .check-container {
        padding-right: 0rem;
    }
    
}


@media screen and (max-width: 375px) {

    .title-left {
        padding-right: 1.3rem;
    }

    .stay-connect {
        height: 1600px;
    }
    .title-big {
        font-size: 22px;
    }

    .anx-desc {
        width: 350px;
    }

    .anx-footer {
        flex-direction: column;
    }

    .check-container {
        padding-bottom: 2.5rem;
    }

    #button-anx span {
        padding: 1rem 4rem 1rem 4rem;
        font-size: 24px;
    }

}


@media screen and (max-width: 320px) {
    .anx-desc {
        width: 300px;
    }
}



@media screen and (max-width: 280px) {
    .anx-desc {
        width: 260px;
    }
}




/*********************review-users************/

.review-users {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 800px;
}

.title-review span {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
}

.body-review {
    display: flex;
    justify-content: center;
}


.center-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 13px 55.4444px #F2F5FA;
    border-radius: 8.31667px;
}

.name-img span {
    font-weight: 600;
    font-size: 19px;
    line-height: 17px;
}

.apici {
    padding-top: 2rem;
    display: flex;
    padding-bottom: 1rem;

}

.switch {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

.mylady-desc {
    padding: 0 1rem 0 1rem;
    max-width: 600px;
    font-weight: 500;
    font-size: 20px;
    line-height: 170%;
    margin-bottom: 4rem;
}

.f2-img {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 400px;
    left: 10rem;
}

.img-f2 img {
    position: relative;
    left: 10rem;
    border: 1.5px solid #F5AC18;
    border-radius: 50%;
}

.img-3 {
    display: flex;
    position: absolute;
    left: -15px;
    align-items: flex-end;
    height: 500px;
}


.f2-img-right {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 400px;
    right: 0;
}


.img-f1-right {
    position: absolute;
    right: 0;
}


.img-f2-right {
    display: flex;
    align-items: flex-end;
    height: 200px;
}

.op-0 {
    opacity: 0;
}

.right-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.img-3-right img {
    position: absolute;
    right: 5rem;
}


.points-gress-switch {
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 35rem;
}


@media screen and (max-width: 1024px) {
    .f2-img {
        left: 0;
    }

    .img-f2 img {
        left: 4rem;
    }

    .f2-img-right {
        width: 200px;
    }

    .points-gress-switch {
        right: 10rem;
    }
}

@media screen and (max-width: 768px) {
    .left-body {
        display: none;
    }

    .right-body {
        display: none;
    }

    .points-gress-switch {
        right: 3rem;
    }
}


@media screen and (max-width:540px) {
    .review-users {
        width: 90%;
        margin-top: -10rem;
    }

    .points-gress-switch {
        right: 1rem;
    }
}


@media screen and (max-width:450px) {
    .review-users {
        margin-top: 0;
    }

}

@media screen and (max-width:375px) {
    .title-review span {
        font-size: 23px;
    }
}


@media screen and (max-width:320px) {
    .title-review span {
        font-size: 20px;
    }
}


/*******************free-trials****************/

.free-trials {
    width: 80%;
    height: 150px;
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 15px 55.4444px #e1e4e9;
    border-radius: 40px;
}

.free-trials-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    position: relative; 
}

.title-box {
    font-weight: bold;
    font-size: 28px;
    line-height: 30px;
}


.title-little {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    padding-top: 0.5rem;
}


.botton-green {
    position: relative;
    display: flex;
    align-items: center;
    background: #26C296;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 33.9597px;
    cursor: pointer;
}

#button-green-pro {
    padding: 1.2rem 3.5rem 1.2rem 3.5rem;
}

.svg-container-trial {
    position: absolute;
}

.svg-pos-trail {
    left: 8rem;
}

.svg-container-trial circle {
    cy: 55;
}

/****************footer-box*******************/

.footer-box {
    width: 80%;
    background-color: khaki;
    height: 450px;
}

